h1{
	background-color: black;
	color: #FFF;
	padding: 30px;
	border: 5px solid grey;
    font-family: "Open Sans Condensed", "Times New Roman", sans-serif;
	font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin:0px;
    width:100%;
}
body{
    
    color:black;
    background-color:aliceblue;
    font-size: 20px;
    font-family: , cursive;
    padding:0;
    margin: 0;
  
   
  
}
footer{
   background-color: black;
   width:100%;
   padding:35px;
   border-top: 5px solid grey;
   margin: 0px;
  
}
li{
    text-align: justify;
}
nav{
    width:100%;
    background-color: lightcyan;
    padding:32.5px;
    margin:0px; 
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-top:5px solid black;
    
    
}

p {
   
    text-align: justify;
     margin: 20px;
   
}

}
main {       
        
}

h2{
    font-family: "Arial";
    text-decoration: underline;
    padding:15px;
}
img{
    position: relative;
    top:0;
    left: 0;
    width: 18%;
    border-left:5px solid black;
    border-right:5px solid black;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    float:left;
    
    box-sizing: border-box;
    margin:0;     
    }



