h1{
 
	background-color: darkblue;
	color: #FFF;
	padding: 20px;
	border-bottom: 10px solid black;
    font-family: "Cambria";

	font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin:0;
    
}
body{
    
    color:black;
    background-color:aliceblue;
    font-size: 20px;
    font-family: "Open Sans Condensed", "Script";
    margin:0;
    
    
    
}
footer{
   background-color: aquamarine;
   width:100%;
   padding: 40px;
   border-top: 10px solid black;
   
}
nav{
    border: 10px, solid black;
    box-sizing: border-box;
    padding:25px;
    margin: 10px;
 
    

}
p {
    text-align: justify;
    margin: 20px 0;
}
div {
   
    padding: 20px;
}
main {
}

h2{
    font-family: "Arial";
}
img{
    position: relative;
    top: ;
    left: 0;
    width: 15%;
    border: 10px solid black;
    float:left;
    box-sizing: border-box;
    margin:10px;
    
        
    }
