body{
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
    font-size: 120%;
        
}
h1, h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
        
    background-color: #F2FFFC;    
}
h1{
    text-align: center;
    background-color: #851944;
    color: #FFF
}
p{
    font-family: "Arial";
    
    text-align: justify;
}